<script setup lang="ts">
import { computed, ref } from 'vue'

type CheckIn_User = {
  id: number
  name: string
  status: string
  time: string
  checked: boolean
}
const headers = [
  {
    title: 'ID',
    key: 'id'
  },
  {
    title: 'Name',
    key: 'name'
  },
  {
    title: 'Status',
    key: 'status'
  },
  {
    title: 'Time',
    key: 'time',
    sorter: (a: CheckIn_User, b: CheckIn_User) => {
      // Implement logic to sort times based on your specific format (e.g., parse and compare)
      return 0 // Replace with appropriate comparison logic
    }
  }
]
const checkin_user = ref<CheckIn_User[]>([
  {
    id: 1,
    name: 'Nuttapong',
    status: 'No',
    time: '',
    checked: false
  },
  {
    id: 2,
    name: 'Buaton',
    status: 'No',
    time: '',
    checked: false
  },
  {
    id: 3,
    name: 'Nuttapong Buaton',
    status: 'No',
    time: '',
    checked: false
  }
])

// Function to handle checkbox changes (optional)
const handleCheckboxChange = (user: CheckIn_User) => {
  // Perform actions based on checkbox state, e.g., update backend, toggle visibility, etc.
  console.log('Checkbox changed for user:', user.name, user.checked)

  if (user.checked) {
    user.time = new Date().toLocaleString() // Set the time to the current time
    user.status = 'Yes'
  } else {
    user.time = '' // Clear the time if unchecked
    user.status = 'No'
  }
}

const search = ref('')
// Filtered checkin_user based on search query
const filteredCheckinUser = computed(() => {
  const query = search.value.toLowerCase()
  return checkin_user.value.filter((user) => user.name.toLowerCase().includes(query))
})
</script>

<template>
  <div>
    <v-text-field v-model="search" label="Search" outlined></v-text-field>
    <v-data-table :headers="headers" :items="filteredCheckinUser">
      <template v-slot:item="{ item }">
        <tr :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.status }}</td>
          <td>
            <v-checkbox v-model="item.checked" @change="handleCheckboxChange(item)"></v-checkbox>
            {{ item.checked }}
            {{ item.time }}
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<style scoped></style>
