<script setup lang="ts">
import { ref } from 'vue'

const dialog = ref(false)

const openDialog = () => {
  dialog.value = true
}

const closeDialog = () => {
  dialog.value = false
}
</script>

<template>
  <v-table>
    <tbody>
      <tr>
        <td>
          <div>
            <br />
            <v-hover v-slot="{ isHovering, props }">
              <v-card class="mx-auto" max-width="344" v-bind="props">
                <!-- <v-img src="https://cdn.sogoodweb.com/Preview/11/images/TE0011-007.jpg"></v-img> -->
                <v-img
                  src="https://cdn.discordapp.com/attachments/1170693384722198629/1196894326463135804/backgroun7.gif?ex=65b949b4&is=65a6d4b4&hm=dc077598c640873dd4cb524b665be1020e4ff79deb5bebee3ca8231f6e1eb609&"
                  max-height="300px"
                  max-width="350px"
                ></v-img>

                <v-card-text>
                  <h2 class="text-h6 text-primary">ABOUT US</h2>
                  WELCOME TO OUR Umbella Bekery For You... Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum
                </v-card-text>

                <v-card-title>
                  <v-rating
                    :model-value="4"
                    dense
                    color="pink"
                    background-color="pink"
                    hover
                    class="me-2"
                  ></v-rating>
                  <span class="text-primary text-subtitle-2">64 Reviews</span>
                </v-card-title>

                <v-overlay
                  :model-value="isHovering"
                  contained
                  scrim="#036358"
                  class="align-center justify-center"
                >
                  <v-btn @click="openDialog" variant="flat">See more info</v-btn>
                </v-overlay>
              </v-card>
            </v-hover>
          </div>
        </td>
        <td>
          <div>
            <br />
            <v-hover v-slot="{ isHovering, props }">
              <v-card class="mx-auto" max-width="344" v-bind="props">
                <v-img
                  src="https://media.discordapp.net/attachments/1170693384722198629/1196880069084315858/backgroun3.gif?ex=65b93c6d&is=65a6c76d&hm=66574da6f66a641996329ce66b1d6bea6207b27f1446e300845e719e3797893b&="
                  max-height="300px"
                  max-width="350px"
                ></v-img>

                <v-card-text>
                  <h2 class="text-h6 text-primary">NEWS</h2>
                  WELCOME TO OUR Umbella Bekery For You... Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum
                </v-card-text>

                <v-card-title>
                  <v-rating
                    :model-value="4"
                    dense
                    color="pink"
                    background-color="pink"
                    hover
                    class="me-2"
                  ></v-rating>
                  <span class="text-primary text-subtitle-2">64 Reviews</span>
                </v-card-title>

                <v-overlay
                  :model-value="isHovering"
                  contained
                  scrim="#036358"
                  class="align-center justify-center"
                >
                  <v-btn @click="openDialog" variant="flat">See more info</v-btn>
                </v-overlay>
              </v-card>
            </v-hover>
          </div>
        </td>
        <td>
          <div>
            <br />
            <v-hover v-slot="{ isHovering, props }">
              <v-card class="mx-auto" max-width="344" v-bind="props">
                <v-img
                  src="https://media.discordapp.net/attachments/1170693384722198629/1196880069474406502/backgroun2.gif?ex=65b93c6d&is=65a6c76d&hm=2375a642936ba8a2d088c96728b7d916e8243806dae5ff2f5d73c9a60aab2172&="
                  max-height="300px"
                  max-width="350px"
                ></v-img>

                <v-card-text>
                  <h2 class="text-h6 text-primary">TESTIMONIALS</h2>
                  WELCOME TO OUR Umbella Bekery For You... Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum
                </v-card-text>

                <v-card-title>
                  <v-rating
                    :model-value="4"
                    dense
                    color="pink"
                    background-color="pink"
                    hover
                    class="me-2"
                  ></v-rating>
                  <span class="text-primary text-subtitle-2">64 Comments</span>
                </v-card-title>

                <v-overlay
                  :model-value="isHovering"
                  contained
                  scrim="#036358"
                  class="align-center justify-center"
                >
                  <v-btn @click="openDialog" variant="flat">See more info</v-btn>
                </v-overlay>
              </v-card>
            </v-hover>
          </div>
        </td>
      </tr>
    </tbody>
  </v-table>

  <div class="text-center">
    <v-dialog v-model="dialog" width="auto">
      <v-card>
        <v-card-text>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="dialog = false">Close Dialog</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped></style>
