<script setup lang="ts">
import { useExpenseStore } from '@/stores/expense'
import ReceiptCostDialog from './ReceiptCostDialog.vue'
import { ref } from 'vue'
import router from '@/router'
const hasSaved = ref(false)
const isEditing = ref(false)
const expenseStore = useExpenseStore()
function clear() {
  hasSaved.value = false
}
function calkey() {
  expenseStore.calExpence()
  expenseStore.showReceiptCostDialog()
}

function table() {
  router.push('/receiptCostTable')
}

function save() {
  hasSaved.value = true

  //expenseStore.editedExpense.saveExpense()

  clear()
}
</script>
<template>
  <v-row>
    <v-col>
      <v-card class="mx-auto" color="green" max-width="720px">
        <v-toolbar color="Brown-lighten-1" flat>
          <v-btn icon><v-icon>mdi-account</v-icon></v-btn>
          <!-- <v-btn icon="mdi-account"></v-btn> -->

          <v-toolbar-title class="font-weight-light"> Cost of utilities </v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn icon @click="isEditing = !isEditing">
            <v-fade-transition leave-absolute>
              <v-icon v-if="isEditing">mdi-close</v-icon>

              <v-icon v-else>mdi-pencil</v-icon>
            </v-fade-transition>
          </v-btn>
        </v-toolbar>

        <v-card-text>
          <v-text-field
            :disabled="!isEditing"
            color="black"
            label="rent price (ค่าไฟหน่วยละ 5 บาท)"
            v-model="expenseStore.editedExpense.elecUnit"
          ></v-text-field
        ></v-card-text>

        <v-card-text>
          <v-text-field
            :disabled="!isEditing"
            color="black"
            label="water unit (ค่าน้ำหน่วยละ7บาท)"
            v-model="expenseStore.editedExpense.waterUnit"
          ></v-text-field
        ></v-card-text>

        <v-card-text>
          <v-text-field
            :disabled="!isEditing"
            color="black"
            label="rent (ค่าเช่า)"
            v-model="expenseStore.editedExpense.rent"
          ></v-text-field
        ></v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn @Click="calkey">Calculate</v-btn>
        </v-card-actions>

        <v-snackbar
          v-model="hasSaved"
          :timeout="2000"
          location="bottom left"
          position="absolute"
          attach
        >
          เก็บข้อมูลยูนิตน้ำไฟเรียบร้อย
        </v-snackbar>
        <v-row justify="center">
          <v-btn color="primary" size="x-large" @Click="table">Table</v-btn>
        </v-row>
      </v-card>
    </v-col>
  </v-row>

  <ReceiptCostDialog></ReceiptCostDialog>
</template>
