<script setup lang="ts">
import { useExpenseStore } from '@/stores/expense'
const expenseStore = useExpenseStore()
</script>

<template>
  <div class="text-center pa-4">
    <v-dialog v-model="expenseStore.receiptCostDialog" max-width="400px">
      <v-card
        prepend-icon="mdi-clipboard-clock-outline"
        title="สรุปบิลค่าใช้จ่าย"
        style="justify-content: center; padding-left: 30px"
        class="dialog-content"
        hover
        color="green-darken-2"
        variant="elevated"
        width="auto"
      >
        <div class="dialog-content">
          <div>
            <text>วันที่ออกบิล</text>
            {{ expenseStore.editedExpense.startDate }}
          </div>
          <div>
            <text>ค่าไฟ</text>
            {{ expenseStore.editedExpense.totalElecPrice }}
          </div>
          <div>
            <text>ค่าน้ำ</text>
            {{ expenseStore.editedExpense.totalWaterPrice }}
          </div>
          <div>
            <text>ค่าเช่าร้าน</text>
            {{ expenseStore.editedExpense.rent }}
          </div>
          <div>
            <text>รวมราคาบิลทั้งหมด</text>
            {{ expenseStore.editedExpense.total }}
          </div>
        </div>
        <template v-slot:actions>
          <v-spacer></v-spacer>

          <v-btn outline @click="expenseStore.receiptCostDialog = false" class="outlined-btn">
            ยกเลิก
          </v-btn>

          <v-btn
            outline
            @click="expenseStore.saveExpense(), expenseStore.clearForm()"
            to="receiptCostTable"
            class="outlined-btn"
          >
            ตกลง
          </v-btn>
        </template>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
.outlined-btn {
  border: 1px solid #ffffff; /* Customize the border color */
  background-color: transparent;
  color: #ffffff; /* Customize text color */
  transition: background-color 0.3s ease;
}
.outlined-btn:hover {
  border: 1px solid #212121;
  background-color: #ececec; /* Change background color on hover */
  color: #212121; /* Change text color on hover */
}
.dialog-content {
  font-size: 24px; /* Adjust the font size of the text inside the dialog */
  line-height: 1.5; /* Adjust the line height for better readability */
}
.v-btn {
  padding: 13px;
  width: 65px;
  height: 45px;
}
</style>
