<script setup lang="ts">
import { useExpenseStore } from '@/stores/expense'

const expenseStore = useExpenseStore()
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th class="text-center">เลขใบเสร็จ</th>
        <th class="text-center">วันที่ออกบิล</th>
        <th class="text-center">ค่าไฟ</th>
        <th class="text-center">ค่าน้ำ</th>
        <th class="text-center">ค่าเช่า</th>
        <th class="text-center">รวม</th>
      </tr>

      <div></div>
    </thead>
    <tbody>
      <tr v-for="item in expenseStore.expenses" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.totalElecPrice }}</td>
        <td>{{ item.totalWaterPrice }}</td>
        <td>{{ item.rent }}</td>
        <td>{{ item.total }}</td>
      </tr>
    </tbody>
  </v-table>

  <v-spacer></v-spacer>

  <v-btn to="/paycost"> Cancel </v-btn>
</template>
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.text-center {
  text-align: center;
}
</style>
