<!-- <script setup lang="ts">
import { computed, ref } from 'vue'
import type { SalaryReceipt } from '@/types/SalaryReceipt'
import { useEmployee } from '@/stores/employee'

const currentTime = ref(new Date())
const day = currentTime.value.getDate()
const year = currentTime.value.getFullYear()

const monthNames = [
  'มกราคม',
  'กุมภาพันธ์',
  'มีนาคม',
  'เมษายน',
  'พฤษภาคม',
  'มิถุนายน',
  'กรกฎาคม',
  'สิงหาคม',
  'กันยายน',
  'ตุลาคม',
  'พฤศจิกายน',
  'ธันวาคม'
]

const monthName = monthNames[currentTime.value.getMonth()]
const dateWithMonth = `${day} ${monthName} ${year}`

const startDate = new Date(2024, 0, 1)
const endDate = new Date(2024, 0, 31)
const startMonth = monthNames[startDate.getMonth()]
const endMonth = monthNames[endDate.getMonth()]

const dateRange = `${startDate.getDate()} ${startMonth} ${startDate.getFullYear()} - ${endDate.getDate()} ${endMonth} ${endDate.getFullYear()}`

const { employees } = useEmployee()

const totalSalary = computed(() => {
  return employees.reduce((sum, employee) => sum + employee.salary, 0)
})

const currentSalaryItem = ref<SalaryReceipt | null>(null)

const openDialog = ref(false)
const delDialog = ref(false)
const payDialog = ref(false)

const openSalaryDialog = () => {
  openDialog.value = true
}

const closeSalaryDialog = () => {
  openDialog.value = false
}

const openDelDialog = (item: SalaryReceipt) => {
  currentSalaryItem.value = item
  delDialog.value = true
}

const closeDelDialog = () => {
  delDialog.value = false
}

const openPayDialog = (item: SalaryReceipt) => {
  currentSalaryItem.value = item
  payDialog.value = true
}

const closePayDialog = () => {
  payDialog.value = false
}

const salaryTable = ref<SalaryReceipt[]>([])

const createSalaryReceipt = () => {
  const newSalaryReceipt: SalaryReceipt = {
    id: +1,
    date: dateWithMonth,
    totalSalary: totalSalary.value,
    paymentStatus: false
  }
  salaryTable.value.push(newSalaryReceipt)
  closeSalaryDialog()
}

const deleteSalaryEntry = () => {
  if (currentSalaryItem.value) {
    const id = currentSalaryItem.value.id
    const existingIndex = salaryTable.value.findIndex((item) => item.id === id)
    if (existingIndex !== -1) {
      salaryTable.value.splice(existingIndex, 1)
      closeDelDialog()
    }
  }
}

const paySalary = () => {
  if (currentSalaryItem.value) {
    const id = currentSalaryItem.value.id
    const index = salaryTable.value.findIndex((item) => item.id === id)
    if (index !== -1) {
      salaryTable.value[index].paymentStatus = true
      closePayDialog()
    }
  }
}
</script>

<template>
  <v-parallax src="public/PosGif/bg2.gif">
    <div class="d-flex flex-column justify-center align-center text-white">
      <h4 class="subheading">
        <div>
          <v-container>
            <v-row>
              <v-col>
                <v-row>
                  <v-col>
                    <v-dialog v-model="openDialog" width="500">
                      <template v-slot:activator="{ props }">
                        <v-btn
                          v-bind="props"
                          text="สร้างรายการเงินเดือน"
                          @click="openSalaryDialog"
                        ></v-btn>
                      </template>

                      <template v-slot:default="{ isActive }">
                        <v-card>
                          <v-card-title class="text-center">สร้างรายการเงินเดือน</v-card-title>
                          <v-card-text class="text-center">
                            วันที่ชำระ : {{ dateWithMonth }}
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn text="ยกเลิก" @click="isActive.value = false"></v-btn>
                            <v-btn text="ตกลง" @click="createSalaryReceipt"></v-btn>
                          </v-card-actions>
                        </v-card>
                      </template>
                    </v-dialog>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-sheet min-width="300" width="1000" height="300" elevation="6">
                      <v-table>
                        <thead>
                          <tr>
                            <th class="text-center">ช่วงวันที่</th>
                            <th class="text-center">วันที่ชำระ</th>
                            <th class="text-center">รวมเงินเดือน</th>
                            <th class="text-center">ยอดจ่ายรวมสุทธิ</th>
                            <th class="text-center">สถานะ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in salaryTable" :key="index">
                            <td class="text-center">{{ dateRange }}</td>
                            <td class="text-center">{{ item.date }}</td>
                            <td class="text-center">{{ item.totalSalary }}</td>
                            <td class="text-center">{{ item.totalSalary }}</td>
                            <td
                              class="text-center"
                              :class="{
                                'waiting-payment-cell': !item.paymentStatus,
                                'paid-cell': item.paymentStatus
                              }"
                            >
                              {{ item.paymentStatus ? 'จ่ายแล้ว' : 'รอการจ่าย' }}
                            </td>

                            <td class="text-center">
                              <v-dialog v-model="delDialog" width="500">
                                <template v-slot:activator="{ props }">
                                  <v-icon v-bind="props" @click="openDelDialog(item)" size="30"
                                    >mdi-delete</v-icon
                                  >
                                </template>

                                <template v-slot:default="{ isActive }">
                                  <v-card>
                                    <v-card-title class="text-center">
                                      <v-icon style="font-size: 100px">mdi-alert-circle</v-icon>
                                      <br />
                                      <br />
                                      <H2>ต้องการลบรายนี้หรือไม่</H2>
                                    </v-card-title>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn text="ยกเลิก" @click="isActive.value = false"></v-btn>
                                      <v-btn text="ตกลง" @click="deleteSalaryEntry()"></v-btn>
                                    </v-card-actions>
                                  </v-card>
                                </template>
                              </v-dialog>
                            </td>
                            <td class="text-center">
                              <v-dialog v-model="payDialog" width="500">
                                <template v-slot:activator="{ props }">
                                  <v-icon v-bind="props" @click="openPayDialog(item)" size="30"
                                    >mdi-currency-usd</v-icon
                                  >
                                </template>
                                <template v-slot:default="{ isActive }">
                                  <v-card>
                                    <v-card-title class="text-center">
                                      <h1>ยอดจ่ายรวมสุทธิ</h1>
                                      <br />
                                      <h2>{{ item.totalSalary }} บาท</h2>
                                    </v-card-title>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn text="ยกเลิก" @click="isActive.value = false"></v-btn>
                                      <v-btn text="ตกลง" @click="paySalary()"></v-btn>
                                    </v-card-actions>
                                  </v-card>
                                </template>
                              </v-dialog>
                            </td>
                          </tr>
                        </tbody>
                      </v-table>
                    </v-sheet>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </h4>
    </div>
  </v-parallax>
</template>

<style scoped>
td.waiting-payment-cell {
  background-color: red;
  color: white;
}

td.paid-cell {
  background-color: green;
  color: white;
}
</style> -->

<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Employee } from '@/types/Employee'
import { useLoadingStore } from '@/stores/loading'
import { useEmployeeStore } from '@/stores/employee'
const employeeStore = useEmployeeStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}

onMounted(async () => {
  await employeeStore.getEmployees()
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="employeeStore.employees">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Employees</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>
      <template v-slot:[`item.image`]="{ item }">
        <div class="circular-image">
          <!-- Style the image to be circular -->
          <v-img :src="'http://localhost:3000/images/employee/' + item.image" width="100"></v-img>
        </div>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="employeeStore.getEmployees"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<style scoped>
/* CSS styles for circular image */
.circular-image {
  width: 100px; /* Set width and height for circular image */
  height: 100px;
  border-radius: 50%; /* Make the image circular */
  overflow: hidden; /* Hide overflow if image exceeds circular area */
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
}

.circular-image img {
  width: 100%; /* Make the image fill the circular area */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the circular area */
}
</style>
