<script>
export default {
  data() {
    return {
      selected: [],
      headers: [
        {
          title: 'ID',
          align: 'start',
          key: 'id'
        },
        { title: 'Name', align: 'end', key: 'name' },
        { title: 'Position', align: 'end', key: 'position' }
      ],
      desserts: [
        {
          id: 1,
          name: 'โนบิตะ โนบิ',
          position: 'เจ้าของร้าน'
        },
        {
          id: 2,
          name: 'มิซึริ คันโรจิ',
          position: 'ผู้จัดการร้าน'
        },
        {
          id: 3,
          name: 'ชินอีจิ คุโด้',
          position: 'พนักงานเสิร์ฟ'
        },
        {
          id: 4,
          name: 'ทาเคชิ โกดะ',
          position: 'พนักงานเสิร์ฟ'
        },
        {
          id: 5,
          name: 'ไจโกะ โกดะ',
          position: 'พนักงานแคชเชียร์'
        },
        {
          id: 6,
          name: 'โนบิซุเกะ โนบิ',
          position: 'พนักงานชงเครื่องดื่ม'
        },
        {
          id: 7,
          name: 'ชิซุกะ มินาโมโตะ',
          position: 'พนักงานทำครัว'
        },
        {
          id: 8,
          name: 'เดคิซุงิ เดไซ',
          position: 'พนักงานทำครัว'
        },
        {
          id: 9,
          name: 'ซึเนโอะ โฮเนคาว่า',
          position: 'พนักงานล้างจาน'
        },
        {
          id: 10,
          name: 'เซวาชิ โนบิ',
          position: 'พนักงานล้างจาน'
        }
      ]
    }
  }
}
</script>

<template>
  <v-data-table
    v-model="selected"
    :headers="headers"
    :items="desserts"
    items-per-page="5"
    item-value="name"
    return-object
    show-select
  ></v-data-table>

  <pre>{{ selected }}</pre>
</template>
