<script setup lang="ts">
import { useHistoryCheckInCheckOut } from '@/types/CheckInCheckOutHistory'
import { ref } from 'vue'

interface Dessert {
  id: number
  name: string
  position: string
  checkIn: boolean
  checkOut: boolean
  createdate: Date
  checkInTime?: Date
  checkOutTime?: Date
}

// const CheckIN = ref([{id: 0, value: 'IN'},{id: 1, value: '11'}, {id: 2, value: '12'}, {id: 3, value: '13'}, {id: 4, value: '14'}, {id: 5, value: '15'}, {id: 6, value: '16'}, {id: 7, value: '17'}, {id: 8, value: '18'}, {id: 9, value: '19'}, {id: 10, value: '10'}])
// const CheckOUT = ref([{id: 0, value: 'OUT'},{id: 1, value: '21'}, {id: 2, value: '22'}, {id: 3, value: '23'}, {id: 4, value: '24'}, {id: 5, value: '25'}, {id: 6, value: '26'}, {id: 7, value: '27'}, {id: 8, value: '28'}, {id: 9, value: '29'}, {id: 10, value: '20'}])

const search = ref('')
const SearchResult = ref<Dessert[]>([])
const desserts = ref<Dessert[]>([
  {
    id: 1,
    name: 'โนบิตะ โนบิ',
    position: 'เจ้าของร้าน',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },

  {
    id: 2,
    name: 'มิซึริ คันโรจิ',
    position: 'ผู้จัดการร้าน',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 3,
    name: 'ชินอีจิ คุโด้',
    position: 'พนักงานเสิร์ฟ',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 4,
    name: 'ทาเคชิ โกดะ',
    position: 'พนักงานเสิร์ฟ',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 5,
    name: 'ไจโกะ โกดะ',
    position: 'พนักงานแคชเชียร์',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 6,
    name: 'โนบิซุเกะ โนบิ',
    position: 'พนักงานชงเครื่องดื่ม',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 7,
    name: 'ชิซุกะ มินาโมโตะ',
    position: 'พนักงานทำครัว',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 8,
    name: 'เดคิซุงิ เดไซ',
    position: 'พนักงานทำครัว',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 9,
    name: 'ซึเนโอะ โฮเนคาว่า',
    position: 'พนักงานล้างจาน',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  },
  {
    id: 10,
    name: 'เซวาชิ โนบิ',
    position: 'พนักงานล้างจาน',
    checkIn: false,
    checkOut: false,
    checkInTime: new Date(),
    checkOutTime: new Date(),
    createdate: new Date()
  }
])

const historyStore = useHistoryCheckInCheckOut()

function onclick(word: string) {
  const wordSearch = word.toLowerCase()
  SearchResult.value = desserts.value
    .filter((desserts) => desserts.name.toLowerCase().includes(wordSearch))
    .map((desserts) => desserts)

  SearchResult.value.forEach((dessert) => {
    if (dessert.checkIn) {
      dessert.checkInTime = new Date()
    } else if (!dessert.checkIn) {
      dessert.checkInTime = undefined
    }

    if (dessert.checkOut) {
      dessert.checkOutTime = new Date()
    } else if (!dessert.checkOut) {
      dessert.checkOutTime = undefined
    }
  })

  console.log(SearchResult)
  return SearchResult
}

function SaveHistory() {
  historyStore.clearEditHistoryCheckInCheckOut
  desserts.value.forEach((dessert) => {
    if (dessert.id > 0) {
      historyStore.addToHistoryCheckInCheckOut({
        id: dessert.id,
        checkInTimeStatus: dessert.checkInTime,
        checkOutTimeStatus: dessert.checkOutTime
      })
    }
  })
}
</script>

<template>
  <v-parallax src="https://i.pinimg.com/originals/90/b0/52/90b052fb77bd0f272617b1ac0a667a97.gif">
    <div class="d-flex flex-column fill-height justify-center align-center text-white">
      <h4 class="subheading">
        <v-container>
          <v-col>
            <!-- //วางหน้าใหมญ่เป็นv-col วางหน้าเล็ก -->
            <!-- ฝั่งบน -->
            <v-row>
              <v-container>
                <div>CheckIN-CheckOUT</div>
                <v-row>
                  <v-col cols="12">
                    <v-sheet
                      min-width="300"
                      width="1000"
                      height="300"
                      elevation="6"
                      style="overflow: auto"
                      rounded="lg"
                    >
                      <v-table>
                        <thead>
                          <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Position</th>
                            <th class="text-left">Avatar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in desserts" :key="index">
                            <td>{{ item.name }}</td>
                            <td>{{ item.position }}</td>
                            <td>
                              <v-img
                                :src="`public/Employee/Employee${item.id}.jpg`"
                                style=""
                                class="rounded-image"
                                cover
                              ></v-img>
                            </td>
                          </tr>
                        </tbody>
                      </v-table>
                    </v-sheet>
                  </v-col>
                </v-row>
              </v-container>
            </v-row>
            <v-row></v-row>
            <v-row>
              <v-container>
                <v-row style="padding-left: 12px">
                  <v-card flat title="CheckIN-CheckOUT">
                    <template v-slot:text>
                      <v-text-field
                        v-model="search"
                        label="Search"
                        prepend-inner-icon="mdi-magnify"
                        single-line
                        variant="outlined"
                        hide-details
                        @keyup.enter="onclick(search)"
                        style="width: 970px"
                      ></v-text-field> </template
                  ></v-card>
                </v-row>
              </v-container>
            </v-row>
            <!-- <v-card v-for="(item, index) in SearchResult" :key="index">{{ item.name }} -->
            <!-- </v-card> -->
            <v-row>
              <v-sheet
                min-width="300"
                width="1000"
                height="300"
                elevation="6"
                style="overflow: auto; margin-left: 15px; margin-top: 15px"
                rounded="lg"
              >
                <v-container fluid>
                  <v-table>
                    <thead>
                      <tr>
                        <th class="text-left">Name</th>
                        <th class="text-left">Position</th>
                        <th class="text-left">Avatar</th>
                        <th class="text-left">Check-IN</th>
                        <th class="text-left">Check-In Time</th>
                        <th class="text-left">Check-OUT</th>
                        <th class="text-left">Check-Out Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr v-if="search !== ''" v-for="(item, index) in SearchResult" :key="index">
          <td>{{ item.name }}</td>
          <td>{{ item.position }}</td>
          <td><v-checkbox v-model="selected[index]" :label="' '" ></v-checkbox></td>
          <td><v-checkbox v-model="selected[index]" :label="' '" ></v-checkbox></td>
          <td><v-checkbox v-model="selected[index]" :value="item.checkIn" ></v-checkbox></td>
          <td><v-checkbox v-model="selected[index]" :value="item.checkOut" ></v-checkbox></td>
        </tr> -->
                      <tr v-for="(item, index) in SearchResult" :key="index">
                        <td>{{ item.name }}</td>
                        <td>{{ item.position }}</td>
                        <!-- <td><v-checkbox v-model="selected" :label="''" ></v-checkbox></td>
          <td><v-checkbox v-model="selected" :label="''" ></v-checkbox></td> -->
                        <div class="rounded-image">
                          <td>
                            <v-img
                              :src="`public/Employee/Employee${item.id}.jpg`"
                              style=""
                              class="rounded-image"
                              cover
                            ></v-img>
                          </td>
                        </div>
                        <td>
                          <v-checkbox
                            v-model="item.checkIn"
                            @click="
                              () => {
                                if (!item.checkIn) {
                                  item.checkInTime = new Date()
                                } else {
                                  // Optionally, clear the checkOutTime when the checkbox is unchecked
                                  item.checkInTime = undefined
                                }
                              }
                            "
                          ></v-checkbox>
                        </td>

                        <td v-if="item.checkInTime">
                          {{ item.checkInTime.toLocaleTimeString() }}
                        </td>
                        <td v-else>Not Checked In</td>

                        <td>
                          <v-checkbox
                            v-model="item.checkOut"
                            @click="
                              () => {
                                if (!item.checkOut) {
                                  item.checkOutTime = new Date()
                                } else {
                                  item.checkOutTime = undefined
                                }
                              }
                            "
                          ></v-checkbox>
                        </td>

                        <td v-if="item.checkOutTime">
                          {{ item.checkOutTime.toLocaleTimeString() }}
                        </td>
                        <td v-else>Not Checked Out</td>
                      </tr>
                    </tbody>
                  </v-table>
                  <br />
                  <v-row>
                    <v-sheet>
                      <v-btn
                        class="text-none"
                        color="success"
                        rounded
                        variant="flat"
                        width="90"
                        to="/checkInCheckOut"
                        @click="SaveHistory"
                      >
                        Confirm
                      </v-btn>
                      <v-btn
                        class="text-none"
                        color="red"
                        rounded
                        variant="flat"
                        width="90"
                        to="/checkedit"
                      >
                        Cancel
                      </v-btn>
                    </v-sheet>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-row>
          </v-col>
        </v-container>
      </h4>
    </div>
  </v-parallax>
</template>

<style scoped>
.rounded-image {
  padding-top: 10px;
  border-radius: 50%; /* ทำให้รูปภาพเป็นวงกลม */
  width: 50px; /* ปรับขนาดตามต้องการ */
  height: 50px;
}
.custom-scrollbar {
  /* Set a fixed height for the container to enable scrolling */
  height: 300px;
  overflow-y: scroll;

  /* Customize the scrollbar track */
  scrollbar-color: #333333 #ffc3c3;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #733331;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(transparent, #73333130);
}
</style>
