<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'

const refForm = ref<VForm | null>(null)
const showPassword = ref(false)
const form = ref(false)
const authStore = useAuthStore()
const email = ref('admin@admin.com')
const password = ref('Pass@1234')
const required = (v: string) => {
  return !!v || 'Field is required'
}
const onSubmit = async () => {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  authStore.login(email.value, password.value)
}
</script>

<template>
  <v-sheet class="bg-deep-purple pa-12">
    <div>
      <h1>D-Coffee</h1>
    </div>
    <v-card
      class="mx-auto px-6 py-8"
      max-width="400"
      elevation="12"
      style="background-color: #ffffffee; border-radius: 16px; width: 100%"
    >
      <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
        <v-text-field
          v-model="email"
          :rules="[required]"
          class="mb-2 text-field-custom"
          label="Email"
          clearable
          prepend-icon="mdi-email"
          append-icon="mdi-blank"
          outlined
          rounded
        ></v-text-field>

        <v-text-field
          v-model="password"
          :rules="[required]"
          class="text-field-custom"
          label="Password"
          :placeholder="'Enter your password'"
          :type="showPassword ? 'text' : 'password'"
          clearable
          prepend-icon="mdi-lock"
          :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
          @click:append="showPassword = !showPassword"
          outlined
          rounded
        ></v-text-field>

        <br />

        <v-btn
          :disabled="!form"
          color="deep-purple accent-4"
          size="large"
          type="submit"
          variant="elevated"
          block
        >
          Login
        </v-btn>
      </v-form>
    </v-card>
  </v-sheet>
</template>

<style scoped>
.text-field-custom {
  --v-field-border-radius: 8px;
  --v-field-outline-border-width: 2px;
}

/* New styles for full-screen background */
.v-sheet.bg-deep-purple {
  position: fixed; /* or 'absolute' depending on your needs */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex; /* Add this line */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Optional: Reset body margin and padding */
body {
  margin: 0;
  padding: 0;
}
</style>
