<template>
  <div>
    <header-component :component="headerComponent"></header-component>
    <menu-component :component="menuComponent"></menu-component>
  </div>
</template>

<script setup>
import { ref, defineAsyncComponent } from 'vue'
import { selectMenuComponent } from './path/to/your/function/selectMenuComponent'
import LayoutAppbar from '../components/LayoutMenu/LayoutAppbar.vue'

const headerComponent = defineAsyncComponent(
  () => import('../components/LayoutMenu/LayoutAppbar.vue')
)
const menuComponent = ref(selectMenuComponent())
</script>
