<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    class="bg-grey-darken-2"
  >
    <v-list-item
      density="compact"
      prepend-icon="mdi-account"
      :title="authStore.getCurrentUser()?.email"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-home-variant-outline"
        title="Home"
        value="home"
        activator="parent"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-coffee-outline"
        title="Point of Sale"
        value="Point of Sale"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <v-list-item
        class="bg-grey-lighten-1"
        prepend-icon="mdi-account"
        title="User"
        value="User"
        activator="parent"
        :to="{ name: 'userView' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="loout"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-btn block class="bg-grey-darken-3" prepend-icon="mdi-logout"> Logout </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>
