<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'
import { computed } from 'vue'

const currentUserEmail = computed(() => authStore.getCurrentUser()?.email)

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
</script>

<template>
  <v-navigation-drawer
    v-if="currentUserEmail === 'admin@admin.com'"
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    class="bg-grey-darken-2"
  >
    <v-list-item
      density="compact"
      prepend-icon="mdi-account"
      :title="authStore.getCurrentUser()?.fullName"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-home-variant-outline"
        title="Home"
        value="home"
        activator="parent"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-coffee-outline"
        title="Point of Sale"
        value="Point of Sale"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-store"
        title="Check Stock"
        value="checkstock"
        :to="{ name: '' }"
      ></v-list-item>

      <v-list-group value="Check the Time">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-grey-darken-1"
            v-bind="props"
            prepend-icon="mdi-clipboard-clock-outline"
            title="Check the Time"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-archive-edit-outline"
          title="Check In - Out"
          value="Check In - Out"
          activator="parent"
          :to="{ name: 'checkedit' }"
        ></v-list-item>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-account-check "
          title="Status"
          value="status"
          activator="parent"
          :to="{ name: 'checkInCheckOut' }"
        ></v-list-item>
      </v-list-group>

      <v-list-group value="Salary">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-grey-darken-1"
            v-bind="props"
            prepend-icon="mdi-chart-timeline"
            title="Salary"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-account-box"
          title="Employee"
          value="employee"
          activator="parent"
          :to="{ name: 'employee' }"
        ></v-list-item>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-chart-histogram"
          title="Salary Payment"
          value="salary Payment"
          activator="parent"
          :to="{ name: 'salaryPayment' }"
        ></v-list-item>
      </v-list-group>

      <v-list-group value="Cost of utilities">
        <template v-slot:activator="{ props }">
          <v-list-item
            class="bg-grey-darken-1"
            v-bind="props"
            prepend-icon="mdi-water-boiler"
            title="Cost of utilities"
          ></v-list-item>
        </template>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-water-minus"
          title="Pay water and electricity"
          value="pay water and electricity"
          activator="parent"
          :to="{ name: 'paycost' }"
        ></v-list-item>
        <v-list-item
          class="bg-grey-lighten-1"
          prepend-icon="mdi-receipt-text-check"
          title="Receipt"
          value="receiptpaycost"
          activator="parent"
          :to="{ name: 'receiptpaycost' }"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        class="bg-grey-lighten-1"
        prepend-icon="mdi-account"
        title="User"
        value="User"
        activator="parent"
        :to="{ name: 'userView' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="loout"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-btn block class="bg-grey-darken-3" prepend-icon="mdi-logout"> Logout </v-btn>
      </div>
    </template>
  </v-navigation-drawer>

  <v-navigation-drawer
    v-else
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    class="bg-grey-darken-2"
  >
    <v-list-item
      density="compact"
      prepend-icon="mdi-account"
      :title="authStore.getCurrentUser()?.fullName"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-home-variant-outline"
        title="Home"
        value="home"
        activator="parent"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        class="bg-grey-darken-1"
        prepend-icon="mdi-coffee-outline"
        title="Point of Sale"
        value="Point of Sale"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="loout"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-btn block class="bg-grey-darken-3" prepend-icon="mdi-logout"> Logout </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>
