<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
</script>
<template>
  <v-app-bar class="bg-grey-darken-4">
    <v-img src="../LayoutMenu/image/logo.png" max-height="80" contain></v-img>
    <v-app-bar-title class="ml-2" style="font-size: 24px; font-weight: bold; color: white"
      ><div>D-Coffee</div>
    </v-app-bar-title>
    <!-- ... ส่วนอื่นๆ ... -->
    <template v-slot:append>
      <div class="pa-2">
        <!-- <v-icon>mdi-account-circle-outline</v-icon> -->
        <v-list-item prepend-icon="mdi-account" :title="authStore.getCurrentUser()?.fullName">
        </v-list-item>
      </div>
    </template>
  </v-app-bar>
</template>
